body {
    font-family: 'Palatino Linotype',sans-serif !important;
}

header {
    background-color: #6b9262 !important;
    background-image: linear-gradient(to right, #b5d3ac, #6b9262);
    padding: 20px 0;
}

h1.page-title, h2.page-subtitle {
    color: #515750;
    font-weight: bold;
}

h2.page-subtitle {
    font-style: italic;
}

.navbar-start {
    margin: auto;
}

footer {
    color: #515750;
}

footer a {
    color: #515750;
    text-decoration: underline;
}
